@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  p {
    @apply text-[16px] font-[300];
  }
  h2 {
    @apply text-center text-[40px] font-[700] leading-[3rem] md:text-left md:text-[55px] md:leading-[4rem];
  }
  h3 {
    @apply text-[16px] font-[700] md:text-[21px];
  }
}

body {
  font-family: theme("fontFamily.main");
  background-color: theme("colors.theme");
}

::-webkit-scrollbar {
  width: 10px;
  padding: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ffffff;
  opacity: 50%;
  /* border-radius: 10px; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: theme("colors.orange");
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.orangeDark");
}
